<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
        <property name="connection.url">jdbc:derby://localhost:1527/TKurekJPAPractice</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="Domain.Product"></mapping>
        <mapping class="Domain.Supplier"></mapping>
        <mapping class="Domain.Category"></mapping>
        <mapping class="Domain.Transactionx"></mapping>
        <mapping class="Domain.Address"></mapping>
        <mapping class="Domain.Company"></mapping>
        <mapping class="Domain.Customer"></mapping>
    </session-factory>
</hibernate-configuration>
